<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>Intelligent News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet"
          media="screen">
    <link href="../static/css/main.css?version={{range(1, 1001) | random}}" rel="stylesheet" media="screen">
</head>

<body>


{% set active_summary=True %}
{% include 'template_top_header.html' %}

<div id="reset_button">Reset</div>

<section id="topic_chart"></section>

<div id="word_cloud">
    {% set wordcloud_img_path = 'img/'+data.industry+'_wordcloud.png' %}
    <img src="{{ url_for('static', filename=wordcloud_img_path) }}">
</div>

<section id="sentiment_trend_chart"></section>

<section id="section_news"></section>


<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>


<script type=text/javascript>
    var news = {{ data.news | safe }}
    var topics = {{data.topics | safe }}
    var industry = '{{data.industry | safe }}'
</script>

<script src="../static/js/get_news_html.js?version={{range(1, 1001) | random}}"></script>
<script src="../static/js/enable_sentiment_override.js?version={{range(1, 1001) | random}}"></script>
<script src="../static/js/summary.js?version={{range(1, 1001) | random}}"></script>

</body>
</html>